.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.35);
    padding: 20px;
    margin: 90px auto 10px auto;
    border-radius: 20px;
    width: 90%;
    gap: 30px;
}
.events-container h2 {
    font-family: Comic Sans MS, cursive;
    font-size: 36px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.event-card {
    background-color: Gold;
    border-radius: 20px;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 370px;
    margin: -20px 0 0 0;
    transition: transform 0.15s ease-in-out;
    text-align: center;
    text-decoration: none;
}
.event-card:hover {
    transform: scale(1.05);
    outline: 4px solid Green;
}
.event-card a {
    display: block;
    color: Black;
    text-decoration: none;
    height: 100%;
}
.event-card-content {
    padding: 20px;
}
.event-card-content h3 {
    font-size: 28px;
    color: Black;
    margin: 10px 0;
}
.event-card-content p {
    font-size: 20px;
    color: Gray;
    margin: 5px 0;
}
.event-card-content p strong {
    color: Black;
}
