body, html {
    font-family: Comic Sans MS, cursive;
    overflow-x: hidden;
}
.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 90px auto 20px auto;
    border-radius: 20px;
    width: 90%;
    position: relative;
    background-color: rgba(128, 128, 128, 0.35);
}
.intro-container h2 {
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
}
.intro-text {
    font-size: 22px;
    padding: 10px;
    margin: 0;
    color: #2EF22A;
    text-shadow: 1px 1px 3px rgba(0, 128, 0, 0.7), 0 0 7px rgba(0, 255, 0, 1);
}
.intro-text .whoami {
    font-size: 36px;
    color: #00FF00;
    text-shadow: 0 0 15px rgba(0, 255, 0, 1), 0 0 30px rgba(0, 255, 0, 0.75), 0 0 45px rgba(0, 255, 0, 0.5);
}
.intro-text a {
	color: gold;
	text-shadow: 0 0 5px gold, 0, 0 0 15px gold;
}
.intro-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 320px;
    margin: 0;
    padding: 0;
    animation: floating-effect 5s ease-in-out infinite;
    animation-delay: 1s, 4s;
}
.intro-picture img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 50px;
    margin-top: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}
.intro-picture img:hover {
	transform: scale(1.05);
}
.glowing-circle {
    position: absolute;
    width: 340px;
    height: 340px;
    margin-right: 50px;
    margin-top: 40px;
    border-radius: 50%;
	background: linear-gradient(90deg, rgba(0, 255, 0, 0.5), rgba(0, 0, 0, 1));
    box-shadow: 0 0 30px rgba(0, 255, 0, 1), 0;
    animation: rotating-circle-effect 3s linear infinite;
    z-index: 0;
}
@keyframes floating-effect {
    0% { transform: translateY(0); }
    50% { transform: translateY(-35px); }
    100% { transform: translateY(0); }
}
@keyframes rotating-circle-effect {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
.achievements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.35);
    padding: 10px;
    margin: 20px auto;
    border-radius: 20px;
    width: 90%;
}
.achievements-container h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
}
.achievements-container img {
    width: 400px;
    height: auto;
    align-items: center;
    margin: 0 5px;
    border-radius: 15px;
    border: 3px solid gold;
    transition: transform 0.1s ease-in-out;
}
.achievements-container img:hover {
    transform: scale(1.05);
}
