body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Comic Sans MS, cursive;
  color: #012247;
}
.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin-top: 80px;
}
h1 {
  font-size: 3em;
  margin: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 40px;
  margin: 10px 0 0 0;
  font-family: Comic Sans MS, cursive;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  background-color: #191970;
  border-bottom: 1px solid #e5e7eb;
  border-radius: 20px;
  box-shadow: 0 0 0 5px #663399;
  z-index: 1000;
}
.navbar-logo img {
  height: 40px;
  width: auto;
}
.navbar-logo-Main {
  height: 75px;
  width: auto;
}
.navbar-links {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.navbar-link {
  color: #F5FFFA;
  font-size: 1rem;
  padding: 0.25rem 0.35rem;
  text-decoration: none;
}
.navbar-link:hover {
  background-color: #4682B4;
  border-radius: 0.25rem;
}
.footer {
  background-color: #191970;
  color: #F5FFFA;
  text-align: center;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
