body, html {
    height: 100%;
    margin: 0;
    font-family: Comic Sans MS, cursive;
    background-color: MidnightBlue;
    overflow: hidden;
}
h1 {
    font-size: 3em;
    margin: 0;
}
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    margin: 10px 0 0 0;
    font-family: Comic Sans MS, cursive;
    display: flex;
    justify-content: center;
    align-item: center;
    padding: 0.2rem;
    background-color: MidnightBlue;
    border-radius: 20px;
    box-shadow: 0 0 0 5px DarkBlue;
    z-index: 1000;
}
.navbar-logo img {
    height: 100px;
    width: auto;
}
.navbar-links {
    display: flex;
    align-items: center;
    margin: 0;
    flex: 1;
}
.navbar-link {
    color: #F5FFFA;
    font-size: 1rem;
    padding: 0.25rem 0.35rem;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar-link:hover {
    background-color: Gold;
    border-radius: 0.25rem;
}
.working {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: LightSlateGrey;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px Black;
}
.working h1 {
    color: LightCoral;
    font-size: 3em;
    margin-bottom: 0.5em;
}
.working p {
    color: #333;
    font-size: 1.2em;
}
.footer {
    background-color: MidnightBlue;
    color: White;
    text-align: center;
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
