.navbar {
  height: 100%;
  margin: 0;
  font-family: Comic Sans MS, cursive;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #191970;
  border-bottom: 1px solid #e5e7eb;
}
.navbar-logo img{
  height: 40px;
  width: auto;
}
.navbar-links {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.navbar-link {
  color: #F5FFFA;
  font-size: 1rem;
  padding: 0.25rem 0.35rem;
}
.navbar-link:hover {
  background-color: #4682B4;
  border-radius: 0.25rem;
}
