body, html {
    font-family: Comic Sans MS, cursive;
    overflow-x: hidden;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.35);
    padding: 20px;
    margin: 90px auto 10px auto;
    border-radius: 20px;
    width: 90%;
    gap: 30px;
}
.projects-container h2 {
    font-family: Comic Sans MS, cursive;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 100%;
    margin: -20px auto -30px auto;
}
.projects-card {
    background-color: Gold;
    border-radius: 20px;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 380px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    padding: 18px;
}
.projects-card:hover {
    transform: scale(1.05);
}
.projects-card-content h3 {
    font-size: 24px;
    color: Black;
    margin: 10px 0;
}
.projects-card-content p {
    font-size: 15px;
    color: Gray;
    margin: 5px 0;
}
.projects-card-content a {
    display: inline-block;
    font-size: 15px;
    color: Blue;
    text-decoration: none;
}
.projects-card-content a:hover {
    text-decoration: underline;
}
