.skills-container {
    background-color: rgba(128, 128, 128, 0.35);
    padding: 20px;
    margin: 92px auto 10px auto;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    display: block;
    overflow: visible;
}
.skills-container h2 {
    font-family: "Roboto", serif;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0 5px 0;
    gap: 15px;
}
.skill {
    background-color: lightgray;
    padding: 5px;
    border: 5px solid gold;
    border-radius: 15px;
    text-align: center;
    min-width: 150px;
    min-height: 80px;
    flex: auto;
    transition: transform 0.1s ease-in-out;
}
.skill:hover {
	transform: scale(1.1);
}
.skill-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.skill-logo {
    width: 50px;
    height: auto;
}
.skill h3 {
    font-size: 16px;
    color: black;
    margin: 10px 0;
}
.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.35);
    padding: 20px;
    margin: 20px auto 10px auto;
    border-radius: 20px;
    width: 90%;
    gap: 30px;
}
.events-container h2 {
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: -2px 0 5px 0;
    width: 100%;
}
.events-container a {
    color: #00FF00;
    text-shadow: 0 0 10px rgba(0, 255, 0, 1), 0 0 20px rgba(0, 255, 0, 0.75), 0 0 30px rgba(0, 255, 0, 0.5);
}
.event-card {
    background-color: Gold;
    font-family: "Roboto", serif;
    border-radius: 15px;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: auto;
    margin: -20px -7px -2px -7px;
    padding: 0 7px;
    line-height: 3px;
    transition: transform 0.15s ease-in-out;
    text-align: center;
    text-decoration: none;
}
.event-card:hover {
    transform: scale(1.05);
    outline: 4px solid Green;
}
.event-card a {
	text-decoration: none;
	color: Black;
	underline: none;
	text-shadow: none;
}
.event-card p {
	font-size: 15px;
	padding 2px auto;
}
.event-card-content {
    padding: 2px;
}
@media screen and (max-width: 600px) {
	.skills-container {
	        margin: 20px auto 10px auto;
	}
	.skill {
		min-width: 100px;
		min-height: 50px
	}
}
