body, html {
	-webkit-font-smoothing: antialiased;
    font-family: Comic Sans MS, cursive;
    overflow-x: hidden;
}
.social-media-section {
    background-color: rgba(128, 128, 128, 0.35);
    padding: 40px;
    margin: 90px auto 40px auto;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    padding: 20px;
}
.social-media-section h2 {
    font-family: Comic Sans MS, cursive;
    font-size: 36px;
    text-align: center;
    padding: 0;
    margin: -5px auto 25px auto;
    width: 100%;
}
.social-icons {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: 20px;
}
.social-icon {
    text-decoration: none;
    color: White;
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    font-size: 20px;
}
.social-icon i {
    align-items: center;
}
.social-icon:hover {
    background-color: Gold;
    outline: 4px solid Green;
    color: Green;
}
.twitter {    background: Black;  }
.linkedin {    background: #0077B5;     }
.github {    background: #24292E;      }
.email {    background: #F2A60C;    }
.instagram {    background: #EE2A7B;    }
.discord {    background: #5865F2;    }

.side-by-side {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px;
}
.email-form button, .email-form input, .email-form textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
.email-form {
  flex: 1;
  max-width: 700px;
  display: grid;
  padding: 10px 0;
}
.email-field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 15px;
  border: 3px solid Gold;
  padding: 10px;
  margin: 10px 10px;
  background-color: rgba(128, 128, 128, 0.65);
}
.email-field h2 {
	font-size: 28px;
	color: Gold;
	text-align: center;
	width: 100%;
	margin: 5px auto 10px auto;
}
.email-button {
  background-color: Green;
  border-radius: 10px;
  color: White;
  cursor: pointer;
  font-size: 24px;
  font-weight: 800;
  width: 350px;
  line-height: 18px;
  min-height: 40px;
  padding: 10px 10px;
  transition-duration: 100ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email-button:hover {
  background-color: DarkGreen;
  outline: 4px solid Gold;
  color: Gold;
}
.email-input, .email-textarea {
  appearance: none;
  border-radius: 7px;
  border: 2px solid Gold;
  color: Black;
  font-size: 18px;
  line-height: 30px;
  min-height: 35px;
  padding: 3px 6px;
}
.email-textarea {
	resize: vertical;
	min-height: 150px;
}
.contact {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  flex: 1;
  max-width: 750px;
  padding: 10px 0;
  margin: 20px 10px;
  background-color: rgba(128, 128, 128, 0.65);
  border: 3px solid Gold;
  border-radius: 15px;
}
.contact h2 {
	font-size: 28px;
	color: Gold;
	text-align: center;
	margin: 5px auto 10px auto;
}
.contact p {
	font-size: 22px;
	margin: 23.25px auto;
}
