body, html {
    font-family: Comic Sans MS, cursive;
    overflow-x: hidden;
}
.social-media-section {
    background-color: rgba(128, 128, 128, 0.35);
    padding: 40px;
    margin: 20px auto 40px auto;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    padding: 20px;
}
.social-media-section h2 {
    font-family: Comic Sans MS, cursive;
    font-size: 36px;
    text-align: center;
    padding: 0;
    margin: -5px auto 25px auto;
    width: 100%;
}
.social-icons {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: 20px;
}
.social-icon {
    text-decoration: none;
    color: White;
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    transition: background 0.3s, color 0.3s;
    font-size: 20px;
}
.social-icon i {
    align-items: center;
}
.social-icon:hover {
    background: Red;
    color: White;
}
#contact {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    font-size: 18px;
    margin-bottom: 5px;
}
form input, form textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    font-size: 18px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover { background-color: #0056b3; }
.twitter {    background: #1DA1F2;  }
.linkedin {    background: #0e76a8;     }
.github {    background: #2B3137;      }
.email {    background: #F2A60C;    }
.instagram {    background: #ee2a7b;    }
