body, html {
	-webkit-font-smoothing: antialiased;
    font-family: "Comic Sans MS", cursive;
    overflow-x: hidden;
}
.social-media-section {
    background-color: rgba(128, 128, 128, 0.35);
    margin: 90px auto 40px auto;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    padding: 20px 20px 117px 20px;
}
.social-media-section h2 {
    font-family: "Comic Sans MS", cursive;
    font-size: 36px;
    text-align: center;
    padding: 0;
    margin: -5px auto 25px auto;
    width: 100%;
}
.social-icons {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: 20px;
}
.social-icon {
    text-decoration: none;
    color: White;
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    font-size: 20px;
    margin: 5px 0;
}
.social-icon i {
    align-items: center;
}
.social-icon:hover {
    background-color: Gold;
    outline: 4px solid Green;
    color: Green;
}
.twitter {    background: Black;  }
.linkedin {    background: #0077B5;     }
.github {    background: #24292E;      }
.email {    background: #F2A60C;    }
.instagram {    background: #EE2A7B;    }
.discord {    background: #5865F2;    }

.side-by-side {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px;
}
.email-form button, .email-form input, .email-form textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
.email-form {
  flex: 1;
  max-width: 700px;
  display: grid;
  padding: 10px 0;
}
.email-field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 15px;
  border: 3px solid Gold;
  padding: 10px;
  margin: 10px 10px;
  background-color: rgba(128, 128, 128, 0.65);
}
.email-field h2 {
	font-size: 28px;
	color: Gold;
	text-align: center;
	width: 100%;
	margin: 5px auto 10px auto;
}
.email-button {
  background-color: Green;
  border-radius: 10px;
  color: White;
  cursor: pointer;
  font-size: 24px;
  font-weight: 800;
  width: 350px;
  line-height: 18px;
  min-height: 40px;
  padding: 10px 10px;
  transition-duration: 100ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email-button:hover {
  background-color: DarkGreen;
  outline: 4px solid Gold;
  color: Gold;
}
.email-input, .email-textarea {
  appearance: none;
  border-radius: 7px;
  border: 2px solid Gold;
  color: Black;
  font-size: 18px;
  line-height: 30px;
  min-height: 35px;
  padding: 3px 6px;
}
.email-textarea {
	resize: vertical;
	min-height: 45px;
}
.contact {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  flex: 1;
  max-width: 750px;
  padding: 10px 0;
  margin: 20px 10px;
  background-color: rgba(128, 128, 128, 0.65);
  border: 3px solid Gold;
  border-radius: 15px;
}
.contact h2 {
	font-size: 28px;
	color: Gold;
	text-align: center;
	margin: 5px auto 10px auto;
}
.contact p {
	font-size: 22px;
	margin: 23.25px auto;
}
@media screen and (max-width: 600px) {
	.social-media-section {
		margin: 20px auto 40px auto;
		padding: 10px;
		width: 93.5%;
	}
    .social-icons {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 0;
    }
    .social-icon {
        width: 80%;
        font-size: 18px;
    }
    .side-by-side {
        flex-direction: column;
        align-items: center;
    }
    .email-form {
    	margin: -15px 0;
        width: 100%;
        max-width: 100%;
    }
    .email-input, .email-textarea, .email-button {
        width: 95%;
        font-size: 16px;
    }
    .contact {
        width: 90%;
        padding: 15px;
    }
    .contact h2 {
    	font-size: 20px;
    }
    .contact p {
    	font-size: 16px;
    	margin: 5px auto;
    }
    .email-field h2 {
    	font-size: 22px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 850px) {
	.social-media-section {
		margin: 90px auto 40px auto;
		padding: 10px;
		width: 93.5%;
	}
	.side-by-side {
		flex-direction: column;
		align-items: center;
	}
	.social-icons {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 5px;
    }
    .social-icon {
        width: 35%;
        font-size: 18px;
        padding: 8px 20px;
        margin: 3px 0;
    }
	.email-form {
    	margin: -15px 0;
        width: 100%;
        max-width: 100%;
    }
    .email-input, .email-textarea, .email-button {
        width: 97.5%;
        font-size: 16px;
    }
    .contact {
        width: 93.5%;
        padding: 15px;
    }
    .contact h2 {
    	font-size: 20px;
    }
    .contact p {
    	font-size: 16px;
    	margin: 5px auto;
    }
    .email-field h2 {
    	font-size: 22px;
    }
}
@media only screen and (min-width: 850px) and (max-width: 1235px) {
	.social-media-section {
		margin: 90px auto 40px auto;
		padding: 10px;
		width: 93.5%;
	}
    .social-icons {
        flex-direction: wrap;
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    .social-icon {
        width: 30%;
        font-size: 18px;
    }
    .side-by-side {
        flex-direction: wrap;
        align-items: center;
    }
    .email-form {
    	margin: -15px 0;
        width: 100%;
        max-width: 100%;
    }
    .email-input, .email-textarea, .email-button {
        width: 95%;
        font-size: 16px;
    }
    .contact {
        width: 90%;
        padding: 15px;
    }
    .contact h2 {
    	font-size: 24px;
    }
    .contact p {
    	font-size: 18px;
    	margin: 10.5px auto;
    }
    .email-field h2 {
    	font-size: 20px;
    	margin: 2px auto 0 auto;
    }
    .email-text-area {
    	min-height: 40px;
    }
}
@media only screen and (min-width: 994px) and (max-width: 1011px) {
	.contact p {
		margin: 16px 0;
	}
}
@media only screen and (min-width: 1011px) and (max-width: 1235px) {
	.contact p {
		margin: 21px 0;
	}
}
